* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0 auto;
  /* background: linear-gradient(rgb(30, 30, 30), rgb(10, 10, 10)); */
  background: linear-gradient(rgb(10, 10, 10), rgb(30, 30, 30));
  color: rgb(20, 20, 20);
}

main {
  min-width: 250px;
  max-width: 640px;
  margin: 0 auto;
}

.page-wrapper {
  width: calc(100% - 40px);
  padding: 30px;
  margin: 30px auto 0;
  /* background: linear-gradient(rgb(175, 50, 50), rgb(185, 30, 30)); */
  background: linear-gradient(rgb(185, 30, 30), rgb(175, 50, 50));
  border-radius: 5px;
}

.title-bio {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin: 0px;
}

.title-bio p {
  margin-top: 8px;
  margin-bottom: 25px;
}

#img-div {
  background-color: rgb(20, 20, 20);
  padding: 10px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

#image {
  max-width: 100%;
  display: block;
}

#img-caption {
  font-size: 0.8rem;
  margin-top: 4px;
  color: rgb(235, 235, 235);
}

#tribute-info h2 {
  margin-bottom: 0;
}

#tribute-info p {
  text-indent: 1em;
  margin-top: 10px;
}

.divider {
  width: 80%;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px dashed rgb(20, 20, 20);
  /* background-color: rgb(25, 25, 25); */
}

#more-info {
  margin-top: 20px;
  margin-bottom: 0;
  font-weight: bold;
  text-align: center;
}

a:link,
a:visited {
  color: rgb(20, 20, 20);
}

a:hover {
  color: rgb(30, 30, 30);
}

a:active {
  color: rgb(235, 235, 235);
}

.bottom {
  margin: 20px 20px;
  position: relative;
  color: rgb(235, 235, 235);
  font-size: 0.7rem;
  text-align: center;
}

/* CSS for jameSHIFT4 to jame$ transition */

.dollar {
  position: absolute;
  width: 0;
  height: 0;
}

.shift4,
.dollar {
  transition: opacity 0.75s ease;
}

.dollar,
.jame:hover .shift4 {
  opacity: 0;
}

.shift4,
.jame:hover .dollar {
  opacity: 1;
}

/* for fun :) */
.jame:active .dollar {
  color: gold;
}

/* 
HTML Code:
<span class="jame">jame<span class="dollar">$</span><span class="shift4">SHIFT4</span></span>
*/
